<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<div layout:fragment="content" class="h-50 d-flex flex-column align-items-center justify-content-center">
    <div class="card p-5 h-50 w-50 bg-secondary bg-opacity-10">
        <h1>Mon solde</h1>
        <div class="p-4 d-flex flex-row justify-content-between bg-white">
            <span th:text="${date}"></span>
            <span th:text="${account != null ? account.balance + ' Euros' : 'Pas de compte'}"></span>
        </div>
    </div>
</div>
</html>