<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js}"></script>
    <title>PayMybuddies</title>
</head>
<body style="height: 100vh;">
<header class="card d-flex flex-row justify-content-between align-items-center">
    <h1 class="p-4 bg-success bg-opacity-20 mb-0">PayMyBuddy</h1>
    <div class="d-flex flex-row justify-content-center">
        <nav class="nav nav-pills">
            <li class="nav-item">
                <a href="/home" style="text-decoration: none;" class="p-4 link-dark nav-link"
                   aria-current="page"
                >Accueil</a
                >
            </li>
            <li class="nav-item">
                <a href="/payment" style="text-decoration: none" class="p-4 link-dark nav-link"
                >Paiement</a
                >
            </li>
            <li class="nav-item">
                <a href="/profil" style="text-decoration: none" class="p-4 link-dark nav-link"
                >Mon profil</a
                >
            </li>
            <li class="dropdown p-4">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" th:text="${#authentication.getName()}">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
        </nav>
    </div>
</header>
<div layout:fragment="content"></div>
</body>
</html>
