<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
    />
    <title>PayMyBuddy</title>
</head>
<body
        style="height: 100vh"
        class="d-flex flex-column align-items-center justify-content-center"
>
<div class="alert alert-danger" role="alert" th:if="${param.error}">
    Email ou mot de passe invalide.
</div>
<div class="alert alert-warning" role="alert" th:if="${param.logout}">
    Vous avez été déconnecté.
</div>
<div class="alert alert-success" role="alert" th:if="${param.registerSuccess}">
    Vous compte a été crée avec succés
</div>
<form
        style="height: 500px"
        class="d-flex flex-column justify-content-between border border-dark p-5"
        th:action="@{/login}"
        method="post"
>
    <h1>PayMyBuddy</h1>
    <div class="form-group">
        <label for="email">Email address</label>
        <input
                type="text"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                name="username"
        />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                name="password"
        />
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/register}">S'enregistrer</a>
</form>
</body>
</html>
