<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Payment</title>
</head>
<section class="container-sm d-flex flex-column vh-100" layout:fragment="content">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Paiement</li>
        </ol>
    </nav>
    <div class="h-25 pt-5 d-flex flex-column align-items-center justify-content-center">
        <div class="alert alert-success w-75 mt-2" role="alert" th:if="${param.buddyAdded}">
            Ami ajouté avec succès
        </div>
        <div class="alert alert-danger w-75 mt-2" role="alert" th:if="${param.balanceError}">
            Solde insuffisant pour effectuer ce paiement
        </div>
        <div class="alert alert-success w-75 mt-2" role="alert" th:if="${param.success}">
            Paiment réalisé avec succès
        </div>
        <div class="w-75 mb-1 d-flex justify-content-between">
            <h3>Envoyer de l'argent</h3>
            <a href="/buddies" class="btn btn-success">Ajouter un ami</a>
        </div>
        <form action="#" th:action="@{/payment(page=${currentPage})}" method="post" th:object="${payment}"
              class="card h-50 w-75 bg-secondary bg-opacity-10 d-flex flex-row justify-content-around align-items-center">
            <div>
                <select id="receiver" class="form-select" aria-label="select to choose payment receiver"
                        th:field="*{receiverMail}">
                    <option selected th:value=null>Choississez une adresse mail</option>
                    <option th:each="userMail : ${user.getBuddieEmail()}" th:text="${userMail}"
                            th:value="${userMail}"

                    >
                    </option>
                </select>
                <div
                        class="text-danger"
                        th:errors="*{receiverMail}"
                ></div>
            </div>
            <div>
                <input
                        placeholder="0€"
                        type="number"
                        id="amount"
                        step="0.01"
                        style="text-align: right;"
                        min="0"
                        th:field="*{amount}"
                />
                <div
                        class="text-danger"
                        th:errors="*{amount}"
                ></div>
            </div>
            <div class="form-group">
                <input
                        placeholder="Description"
                        type="text"
                        id="Description"
                        style="text-align: center;"
                        th:field="*{description}"
                />
                <div
                        class="text-danger"
                        th:errors="*{description}"
                ></div>
            </div>
            <button type="submit" class="btn btn-success">Payer</button>
        </form>
    </div>
    <div class="h-50 d-flex flex-column align-items-center justify-content-center">
        <div class="w-75 mb-1">
            <h3>Mes paiements</h3>
        </div>
        <div th:if="${payments.size() == 0}" class="alert alert-warning w-75">
            Vous n'avez effectué aucun paiement pour le moment
        </div>
        <div th:if="${payments.size() != 0}" class="w-75 d-flex flex-row justify-content-around align-items-center">
            <table class="table caption-top table-striped border border-dark">
                <thead class="bg-success bg-opacity-20" style="text-align:center;">
                <tr style="height:80px; vertical-align: middle;">
                    <th class="text-white" scope="col">Connections</th>
                    <th class="text-white" scope="col">Descriptions</th>
                    <th class="text-white" scope="col">Amount</th>
                </tr>
                </thead>
                <tbody style="text-align:center;">
                <tr th:each="payment : ${payments}">
                    <th scope="row" th:text="${payment.receiverMail}"></th>
                    <td th:text="${payment.description}"></td>
                    <td th:text="${payment.amount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="nav nav-pills">
            <li th:each="page, status : ${pages}">
                <a th:href="@{/payment(page=${status.index})}"
                   class="btn m-2"
                   th:classappend="${status.index == currentPage} ? btn-success : btn-outline-success"
                   th:text="${status.index + 1}"></a>
            </li>
        </ul>
    </div>
</section>
</html>