<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title>Payment</title>
</head>
<body>
<section class="container-sm d-flex flex-column vh-100" style="height:100%;" layout:fragment="content">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
        </ol>
    </nav>
    <div class="h-100 pt-5 d-flex flex-column align-items-center justify-content-start">
        <div class="card w-75">
            <h3 class="card-header">
                Mon profil
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Nom : ' +  ${loggedUser.lastname}"></li>
                <li class="list-group-item" th:text="'Prénom : ' +  ${loggedUser.firstname}"></li>
                <li class="list-group-item" th:text="'Mail : ' +  ${loggedUser.mail}">>Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card w-75 mt-5">
            <h3 class="card-header">
                Mon releve d'identite bancaire
            </h3>
            <div th:if="${userBankAccount.getIban()}" th:text="${userBankAccount.getIban()}"
                 class="card-body"></div>
            <form th:unless="${userBankAccount.getIban()}" action="#" th:action="@{/profil}" method="post"
                  th:object="${userBankAccount}"
                  class="card-body d-flex flex-row justify-content-between align-items-center">
                <div class="form-group w-50">
                    <input
                            id="iban"
                            type="text"
                            class="form-control"
                            th:field="*{iban}"
                            placeholder="Entrer votre iban"
                    />
                </div>
                <button type="submit" class="btn btn-success m-2">Valider</button>
            </form>
        </div>

        <div class="alert alert-danger w-75 mt-2" role="alert" th:if="${param.ibanError}">
            Veuillez renseigner votre iban (compris en 6 et 20 caractères)
        </div>
    </div>
</section>
</body>
</html>